<div class="container">
  <div class="history-head">
    <h1>Tagebuch</h1>
    <button class="btn btn-secondary" (click)="reverse()"><fa-icon class="btn-icon" [icon]="['fas', 'sort']"></fa-icon></button>
  </div>
  <div class="times-list" *ngIf="runtimes != null; else message">
    <accordion>
      <group
        *ngFor="let run of runtimes"
        [run]="run">
      </group>
    </accordion>
  </div>
  <ng-template #message>
    <div>Keine Laufzeiten aufgezeichnet.</div>
  </ng-template>
</div>
