@import '_variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .history-head {
    display: flex;
    align-items: center;
  }

  .times-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem;

  }
}
